body {
    background: linear-gradient(90deg, white 50%, #FFC857 50%);
    font-family: Bahnschrift, serif;

}
h2 {
    color: white;
}

section {
    width: 98%;
    display: block;
    top: 5px;
}


nav {
    overflow: hidden;
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    padding: 0 1%;
    border-radius: 15px;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

nav a {
    border-radius: 15px;
    float: left;
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px 5px 5px;

}

nav a:hover {
    background: #FFC857;
    color: #333333;


}

.a1 {
    font-weight: 500;
    float: right;
    margin-top: 10px;
}


.tag {
    font-size: 25px;
    margin-top: 5px;
}



.img {
    width: min(48%, 18rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20%;
    border: black 5px solid;
    padding: 0;
}

.pagina-inicial {
    line-height: 0;
    margin: 45px 0 25px;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.h1\.1 {
    margin-left: 50px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.8);
    height: 50px;
    font-size: 12px;
    left: 0;
}

.final-pagina {
    color: white;
    font-size: 13px;
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);

}

.pagina-sobre_mim {
    color: white;
    width: min(70%, 50rem);
    border-radius: 25px;
    border: 32px black;
    padding: 25px;
    background-color: black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: justify;
    margin-inline: auto;
}


.pagina-trabalhos {
    color: white;
    width: min(70%, 50rem);
    border-radius: 25px;
    padding: 15px;
    background-color: black;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    margin-inline: auto;


}

.texto_trabalhos {
    color: white;
    width: min(70%, 50rem);
    border-radius: 25px;
    border: 32px black;
    padding: 20px;
    background-color: black;
    display: grid;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    margin-inline: auto;
}

.pagina-trabalhos_2 {
    color: white;
    width: min(70%, 50rem);
    border-radius: 25px;
    border: 30px black;
    padding: 15px;
    background-color: black;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    margin-inline: auto;
}

.fotos {
    width: min(70%, 20rem);
    margin: 10px auto;
    border: white 4px solid;
    display: grid;

}

.fotos2 {
    margin: 1px auto;
    border: white 4px solid;

}

.pagina-contactos {
    color: white;
    width: min(90%, 60rem);
    border-radius: 25px;
    border: 32px black;
    padding: 5px;
    background-color: black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    text-align: justify;
    word-break: break-word;

}

.logo {
    width: 42px;
    float: left;
    margin: 10px 15px 10px 30px;
    border-radius: 50%;
    border: #FFC857  5px solid;
}

.texto_contactos{
    text-decoration: none;
    color: white;
    margin-left: auto;
}





.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}


.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 60px auto;
    padding: 25px;
    background: black;
    border-radius: 25px;
    position: relative;
    transition: all 3s ease-in-out;
    text-align: center;
    display: block;
    width: min(65%, 35rem);

}

.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
    padding: 15px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: auto;
    width: min(2%, 100rem);
}

.popup .close:hover {
    color: #FFC857;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

